body{
    margin: 0;
    padding: 0;
}
.cabecera{
    width: auto;
    height: 30vh;
    text-align: center;
    display: flex;
    color: aquamarine;
    font-size: 4vw;
    flex-direction: row;
    align-content: space-between;
}

h1{
    margin: auto;
    margin-left: 20%;
}
.imgFondo{
    background-size: cover;
    background-attachment: fixed; /*deja la imagen pegada */
    background-image: url(../imagenes/mancuernas.jpg);
}

.contenedor{
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    
}

.menu{
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: column;
}

.menu button{
background-color: blue;
color: rgb(59, 214, 241) ;
display: inline;
width: 20vw;
height: 8vh;
text-align: center;
font-size: 4vh;
padding-top: auto;
border:none;
}
.menu button:hover{
background-color: rgb(59, 214, 241);
color: blue;
}

.menu a{
    text-decoration: none;
}
.menu button:active{
    background-color: rgb(66, 199, 223);
    
}

.publicidades{
    background-color: lightgrey;
    width: 5vw;
    height: auto;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw ;
}

.articulo-impar,
.articulo-par{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}

.foto-articulo {
    width: 20vw;
    height:40vh;
    border-radius: 50%;
    display: block;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}

.principal p{
    display: block;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10vh;
}    

.principal h2{
    font-size: 8vh;
    color: blue;
    display: block;
    width: 100%;
    text-align: center;
}

.rutinas,
.nutricion{
    display: block;
    align-items: center;
    margin: auto;
}

.tabla-alimentos,
.tablas-rutinas{
    border: solid thick aquamarine;
    border-radius: 2%;
    margin: auto;
    width: 100%;
    margin-top: 5vh;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.tabla-alimentos tr:nth-child(odd),
.tablas-rutinas tr:nth-child(odd){
    background-color:  rgb(66, 199, 223);
}

.tabla-alimentos tr:nth-child(even),
.tablas-rutinas tr:nth-child(even){
    background-color:  rgb(171, 222, 231);
} 
    
.tabla-alimentos th,
.tablas-rutinas th{
    background-color: blue;
    color: white;
}

.grupos-musculares{
    display: flex;
    justify-content: space-between;
   
}

h3{
    padding-top: 10%;
}

.nutricion h3{
    padding-top: 0;
    text-align: center;
}

.h3-contacto{
    padding-left: 10%;
    padding-right: auto;
}

.form-contacto,
.calculo-calorias{
    padding-left: 10%;
    background-color:rgb(171, 222, 231);
    border: thick solid rgb(66, 199, 223);
    border-radius: 2%;
    width: 50vw;
    padding-top: 5%;
    padding-bottom: 10%;
}

.calculo-calorias input{
    width: 10%;
}

.form-contacto{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;

}

.btn-enviar-form-contacto,
.btn-calc-metabolismo{
    border: thick solid rgb(66, 199, 223);
    border-radius: 10%;
}

.btn-calc-metabolismo:hover{
    background-color:rgb(66, 199, 223);
    border-color: blue;
}

.btn-calc-metabolismo:active{
    background-color: white;
}

.form-contacto div{
    margin-bottom: 5%;
}

.btn-enviar-form-contacto{
    width: 20%;
    height: 15%;
    margin: auto;
}

.btn-enviar-form-contacto:hover{
    background-color:rgb(171, 222, 231);
}

.btn-enviar-form-contacto:active{
    background-color:rgb(66, 199, 223);
    border-color: blue;
    color: white;
}

.intereses{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.lista-suplementos li {
    display: flex;
}


.lista-suplementos li p:first-of-type {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.lista-suplementos li p{
    margin-top: 2%;
}

.lista-suplementos img{
    width: 20%;
}